@import "tailwindcss";

:root {
  --primary-color: #00899c;
  --foreground-color: #2c2e35;
}

@theme {
  --color-foreground: var(--foreground-color);
  --color-primary: var(--primary-color);
  --font-sans: var(--font-alegreya);
  --font-display: var(--font-montserrat);
}

@layer utilities {
  .font-sans {
    font-family: var(--font-alegreya);
  }

  .font-display {
    font-family: var(--font-montserrat);
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
}
